<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td>
          <% if result.type === 'game' %>
            <%= link_to result.display_name, result.url, :'data-action' => 'joinLobby', :class => 'requires-desktop-client' %>
          <% else %>
            <%= link_to result.display_name, result.url %>
          <% end %>
          <% if result.description %>
            <p><%= result.description %></p>
          <% end %>
        </td>
        <td><%= t result.type, scope: [:search, :type] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @results %>
