<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

  <div class="container">
    <%= render :partial => 'spree/shared/nav_bar' %>

    <div class="row">
      <% if content_for?(:sidebar) %>
        <aside id="sidebar" class="span3" data-hook>
          <%= yield :sidebar %>
        </aside>
      <% end %>

      <div id="content" class="<% if !content_for?(:sidebar) %>span12<% else %>span9<% end %>" data-hook>
        <%= breadcrumbs(@taxon) %>
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>

    <footer id="footer" data-hook>
      <div class="row">
        <div id="footer-left" class="span6" data-hook>
          <p><%= t(:powered_by) %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
        </div>
        <div id="footer-right" class="span6" data-hook></div>
      </div>
    </footer>

    <%= render :partial => 'spree/shared/google_analytics' %>

  </div>
</body>
