<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

  <div id="wrapper">
    <%= render :partial => 'spree/shared/nav_bar' %>

    <div id="main">
      <% if content_for?(:sidebar) %>
        <div id="twocolumns">
          <section id="content">
            <%= breadcrumbs(@taxon) %>
            <%= flash_messages %>
            <%= yield %>
          </section>

          <aside id="sidebar" class="span3" data-hook>
            <%= yield :sidebar %>
          </aside>
        </div>
      <% else %>
        <%= breadcrumbs(@taxon) %>
        <%= flash_messages %>
        <%= yield %>
      <% end %>
    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>

  </div>
</body>
