<div class="container" id="logo-container">
    <a class="brand" href="/">
        <%= image_tag "logo.png", :alt => "Point Gaming" %>
    </a>
</div>

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <ul class="nav"> 
                    <%= navItem "Home", "#{main_app_path}" %>
                    <%= navItem "Games", "#{main_app_path}games" %>
                    <%= navItem "Leagues", "#{main_app_path}leagues" %>
                    <%= navItem "Tournaments", "#{main_app_path}tournaments" %>
                    <%= navItem "Streams", "#{main_app_path}streams" %>
                    <%= navItem "Store", store_path %>
                    <%= navItem "Forums", forum_path %>
                    <%= navItem "FAQ", "#{main_app_path}faq" %>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <%= form_tag products_url, :method => :get, :class => 'navbar-search pull-left' do %>
                            <input type="search" id="s1" class="search-query span2" name="keywords" placeholder="Search">
                        <% end %>
                    </li>

                    <% if user_signed_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> (500) <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <%= link_to_cart %>
                                </li>
                                <li>
                                    <%= link_to "Settings", "#{main_app_path}settings" %>
                                </li>
                                <li>
                                    <%= link_to "Logout", destroy_user_session_path, :method=>'delete' %>
                                </li>
                            </ul>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to("Login", new_user_session_path) %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
